html {
    scroll-snap-type: y mandatory;
}
body {
    margin: 0;
}
section {
    scroll-snap-align: start;
    display: flex;
    justify-content: center;
}

.parent {
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
    background: red;
}
.child {
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 50%;
}
.CS2 {
    background: green;
}
.CS3 {
    background: gray;
}
