html {
    scroll-snap-type: y mandatory;
}
body {
    margin: 0;
}
section {
    scroll-snap-align: start;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.CS1 {
    background: red;
}

.CS2 {
    background: green;
}
.CS3 {
    background: gray;
}
